page {
  background: #F7F8FA;
}

.publish-wrap {
  .publish-header {
    width: 100%;
    height: 360rpx;
    position: relative;

    .bar-right {
      display: flex;
      align-items: center;
      padding-left: 34rpx;
    }

    .title {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 22rpx;
      text-align: center;

      .text {
        display: inline-block;
        position: relative;
        font-weight: bold;
        font-size: 40rpx;
        color: #221F1C;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 20rpx;
          background: #FFD4CC;
          position: absolute;
          bottom: 0;
          z-index: -1;
        }
      }
    }
  }

  .publish-content {
    margin-top: 136rpx;
    padding: 0 32rpx;

    .cell-class .t-cell{
      margin-bottom: 100rpx;
    }
    .cell-class:nth-of-type(1) .t-cell{
      background:url('https://imgs.phanlink.com/program/images/gr.png') no-repeat top;background-size: cover;
      .cell-title{
        font-size: 40rpx;
        font-weight: bold;
        color: #F22800;
      }
      .cell-description {
        font-size: 28rpx;
        color: #D3978B;
      }
    }
    .cell-class:nth-of-type(2) .t-cell {
      background:url('https://imgs.phanlink.com/program/images/qy.png') no-repeat top;background-size: cover;
      .cell-title{
        font-size: 40rpx;
        font-weight: bold;
        color: #1FA448;
      }
      .cell-description {
        font-size: 28rpx;
        color: #8FB29A;
      }
    }
    .cell-icon{
      position:absolute;
      left:220rpx;
      top:90rpx
    }
  }
}