page {
  background: #F7F8FA;
}

.publish-wrap {
  .publish-header {
    width: 100%;
    height: 360rpx;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    .bar-right {
      display: flex;
      padding-left: 34rpx;
      align-items: center;
    

      .search {
        position: relative;

        .btn {
          width: 108rpx;
          height: 56rpx;
          background: linear-gradient(90deg, #FF7426 0%, #FF350D 100%);
          border-radius: 40rpx 40rpx 40rpx 40rpx;
          font-size: 24rpx;
          line-height: 56rpx;
          text-align: center;
          color: #ffffff;
          position: absolute;
          right: 5rpx;
          bottom: 5rpx;
          z-index:9999;
        }

        .t-search__input-container {
          border-radius: 32rpx !important;
          height: 64rpx !important;
          position: relative;
        }

        .t-search__input {
          font-size: 28rpx !important;
          color: #747474 !important;
        }
      }
    }
  }
  .store-info{
    margin-top:40rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30rpx 20rpx;
    .logo{
      width:100rpx;
      image{
        width:90rpx;
        height:90rpx;
      }
    }
    .info{
      width:480rpx;
      .tit{
        font-weight: bold;
        font-size: 32rpx;
        color: #221F1C;
        margin-bottom: 20rpx;
      }
      .tags{
        font-size: 24rpx;
        color: #666666;
        text{
          margin-right:15rpx;
          &:first-child{
            color: #F22800;
          }
        }
      }
    }
    .gzbtn{
      width:100rpx;
      padding:10rpx 20rpx;
      background: linear-gradient( 90deg, #FF6426 0%, #FF4A26 100%);
      border-radius: 32rpx;
      font-weight: bold;
      font-size: 28rpx;
      color: #FFFFFF;
      text-align: center;
    }
  }
}
.tab-box {
  background:#FFFFFF;
  
  --td-tab-nav-bg-color: #ffffff;
  --td-tab-item-color: #666666;
  --td-tab-track-color: #FF5533;
  .tabs-external__active {
    color: #333;
  }
}
.fish-list {
  padding: 24rpx 10rpx;;
  box-sizing: border-box;
}
