page{
  background:#F7F8FA ;
}
.publish-wrap {
  .publish-header {
    width: 100%;
    height: 360rpx;
    position: fixed;
    z-index: -1;
    top:0;
    width:100%;
    overflow-x: hidden;
    box-sizing: border-box;
    .bar-right {
      display: flex;
      padding-left: 34rpx;
      align-items: center;
      image{
        width:68rpx;
        height:68rpx;
      }
      .avatar-text{
        display: block;
        width: 80%;
        font-weight: bold;
        font-size: 34rpx;
        color: #161616;
        text-align: center;
      }
    }
  }
}
.store-list{
  background: #FFFFFF;
  border-radius: 40rpx 40rpx 0rpx 0rpx;
  margin-top: 300rpx;
  padding:40rpx 30rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:20rpx;
  .left{
    width:550rpx;
    .tit{
      font-weight: bold;
      font-size: 32rpx;
      color: #221F1C;
      line-height: 32rpx;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tags{
      margin-top:15rpx;
      text{
        font-size: 28rpx;
        margin:5rpx;
        background: #FFF2F0;
        border-radius: 4rpx;
        padding:5rpx;
        margin-right:5rpx;
        &:nth-child(1){
          color: #FF5533;
        }
        &:nth-child(2){
          color: #a19e9e;
        }
        &:nth-child(3){
          color: #33AAFF;
        }
      }
    }
  }
  .right{
    width:100rpx;
    image{
      width:100rpx;
      height:100rpx;
      border-radius: 50rpx;
    }
  }
}
.store-addr{
  background: #FFFFFF;
  padding:20rpx;
  margin-top:30rpx;
  .tit{
    font-weight: 600;
    font-size: 36rpx;
    color: #221F1C;
    margin-bottom: 20rpx;
  }
  .addr{
    display: flex;
    align-items: center;
    gap:20rpx;
    image{
      width:30rpx;
      height:30rpx;
    }
    text{
      font-size: 28rpx;
      color: #221F1C;
      text-align: justify;
    }
  }
}
.zxzx{
  margin-top:30rpx;
  background-color: #FF5533;
  color:#FFFFFF;
  font-size: 32rpx;
  text-align: center;
  padding:15rpx 0;
}