.user-center-card {
  width: 100%;
  height: 360rpx;
  padding: 0 24rpx;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}

.user-center-card__header {
  position: absolute;
  bottom: 40rpx;
  height: 96rpx;
  line-height: 48rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  width: 702rpx;

  .left {
    display: flex;
    align-items: center;

    .avatar {
      position: relative;
      margin-right: 32rpx;

      >image {
        width: 128rpx;
        height: 128rpx;
        border-radius: 50%;
      }

      .rz {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -44rpx;
        width: 88rpx;
        height: 32rpx;
        background: linear-gradient(90deg, #FF6426 0%, #FF2A00 100%);
        border-radius: 32rpx 32rpx 32rpx 32rpx;
        font-size: 18rpx;
        color: #FFFFFF;
        line-height: 32rpx;
        text-align: center;
      }
      .wrz {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -44rpx;
        width: 88rpx;
        height: 32rpx;
        background: #A8A8A8;
        border-radius: 32rpx 32rpx 32rpx 32rpx;
        font-size: 20rpx;
        color: #FFFFFF;
        line-height: 32rpx;
        text-align: center;
      }
    }

    .info {
      .name {
        font-size: 36rpx;
        color: #221F1C;
        >span{
          display: inline;
          image {
            width: 45rpx;
            height: 45rpx;
            margin-left: 10rpx;
          }
        }
        
      }

      .id {
        font-size: 24rpx;
        color: #A8A8A8;
      }
    }
  }

  .right {
    width: 152rpx;
    height: 56rpx;
    background: #FFEAE5;
    border-radius: 32rpx 32rpx 32rpx 32rpx;
    font-size: 26rpx;
    color: #FF350D;
    line-height: 56rpx;
    text-align: center;
  }
}