.detail-image {
  padding: 24rpx;
  box-sizing: border-box;

  .text {
    font-size: 30rpx;
    color: #221F1C;
  }

  >image {
    width: 100%;
    max-height: 100%;
    margin: 20rpx 0;
    display: block;
  }
}