page {
  box-sizing: border-box;
  padding-bottom: calc(env(safe-area-inset-bottom) + 96rpx);
  background: #F7F8FA;
}

.t-tabs.t-tabs--top .t-tabs__scroll {
  border-bottom: none !important;
}

.home-page-header {
  background-image: url('https://imgs.phanlink.com/program/images/topbg.png') no-repeat top;
  background-size: cover;
  box-sizing: border-box;
  height: 330px;
  width: 100%;
  display: block;

  .bg {
    background-image: url('https://imgs.phanlink.com/program/images/topbg.png') no-repeat top;
    background-size: cover;
    box-sizing: border-box;
    height: 330px;
    width: 100%;
    padding: 0 24rpx;
  }

  .baibg {
    background-color: #ffffff;
  }

  .search {
    margin-top: 25rpx;
    position: relative;

    .btn {
      width: 108rpx;
      height: 56rpx;
      background: linear-gradient(90deg, #FF7426 0%, #FF350D 100%);
      border-radius: 40rpx 40rpx 40rpx 40rpx;
      font-size: 24rpx;
      line-height: 56rpx;
      text-align: center;
      color: #ffffff;
      position: absolute;
      right: 5rpx;
      bottom: 5rpx;
      z-index:9999;
    }

    .t-search__input-container {
      border-radius: 32rpx !important;
      height: 64rpx !important;
      position: relative;
    }

    .t-search__input {
      font-size: 28rpx !important;
      color: rgb(116, 116, 116) !important;
    }
  }

  .swiper-wrap {
    margin-top: 20rpx;

    .t-image__swiper {
      width: 100%;
      border-radius: 10rpx;
      overflow: hidden;
    }
  }
}


.home-page-container {
  background: #f5f5f5;
  padding: 0 0 30rpx 0;
  overflow: hidden;
  display: block;

  .t-tabs {
    background: #f5f5f5 !important;
  }

  .content-padding {
    padding: 15rpx 0;
  }

  .item-image {
    width: 96rpx !important;
    height: 96rpx !important;
  }

  .text-padding-0 {
    padding-top: 5rpx;
  }

  .goods-list-container {
    background: #f5f5f5 !important;
    margin-top: 16rpx;
  }

}


.home-page-tabs {
  --td-tab-nav-bg-color: transparent;
  --td-tab-border-color: transparent;
  --td-tab-item-color: #A8A8A8;
  --td-tab-track-color: #FF5533;
  --td-tab-track-width: 0rpx;
  margin: 24rpx 24rpx 0 24rpx;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;

  .tabs-external__item {
    padding: 10rpx 0 10rpx 0 !important;
    font-size: 34rpx !important;
    margin-right: 56rpx;
  }



  .tabs-external__active {
    color: #333;
  }


  .t-tabs__item {
    border-bottom: 6rpx solid transparent;
  }

  .t-tabs__item--active {
    border-bottom: 6rpx solid #FF5533;
  }


  .more {
    color: #A8A8A8;
    font-size: 28rpx;
    display: flex;
    align-items: center;
    padding-bottom: 15rpx;
  }
}



.home-tab {
  width: 500px;
  padding-left: 10rpx;
  box-sizing: border-box;
  display: flex;

  >view {
    color: #FFC6A6;
    font-size: 32rpx;
    margin-right: 56rpx;
  }

  .active {
    color: #ffffff;
    font-size: 40rpx;
  }
}

.home-grid {
  background: #ffffff;
  padding-top: 33rpx;
}

.home-notic {
  padding: 20rpx 24rpx 40rpx 24rpx;
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  border-radius: 0rpx 0rpx 40rpx 40rpx;
  overflow: hidden;

  .i {
    height: 32rpx;
    width: 2rpx;
    background: #FF584D;
    position: absolute;
    top: 50rpx;
    left: 145rpx;
  }

  .external-class {
    width: 702rpx;
    height: 88rpx;
    background: #FFF3F2;
    border-radius: 12rpx 12rpx 12rpx 12rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .external-class-prefix-icon {
    font-size: 70rpx;
    padding-right: 25rpx;
  }

  .external-class-suffix-icon {
    color: #F27961;
  }

  .external-class-content {
    font-size: 26rpx;
    color: #221F1C;
    width: 400rpx;

  }
}

.fish-list {
  padding: 20rpx 5rpx;
  box-sizing: border-box;
}
.store-page-container{
  margin:60rpx 20rpx 30rpx 20rpx;
  .storetabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .region{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:20rpx;
    }
    .btn{
      background: #FFFFFF;
      border-radius: 10rpx;
      padding:15rpx 30rpx;
      font-size: 30rpx;
    }
    .active{
      font-weight: bold;
      color: #F22800;
    }
    .slt{
      position: relative;
      &::after{
        position: absolute;
        content:' ';
        right:0;
        bottom: 0rpx;
        background: url(https://imgs.phanlink.com/program/images/rgtb.png) no-repeat;
        width:17rpx;
        height:15rpx;
      }
    }
  }
  
}