.pj-list{
  margin:0 20rpx;
  .items{
    background-color: #FFFFFF;
    padding:30rpx 20rpx;
    margin:20rpx 0;
    border-radius: 10rpx;
    .usr{
      display: flex;
      justify-content: space-between;
      .dat{
        display: flex;
        gap:20rpx;
        image{
          width:80rpx;
          height:80rpx;
          border-radius: 40rpx;
        }
        .tit{
          text{
            display: block;
            font-weight: bold;
            font-size: 28rpx;
            color: #666666;
            margin-bottom: 10rpx;
          }
        }
      }
      .date{
        font-size: 24rpx;
        color: #999999;
      }
    }
    .cont{
      font-size: 28rpx;
      color: #221F1C;
      margin:20rpx 0;
    }
    .goods{
      display: flex;
      gap: 20rpx;
      margin:30rpx 0;
      image{
        width:90rpx;
        height:90rpx;
      }
      .tit{
        text{
          font-weight: bold;
          font-size: 28rpx;
          color: #221F1C;
        }
        .tags{
          margin-top:15rpx;
          text{
            font-size: 22rpx;
            border-radius: 10rpx;
            margin-right:20rpx;
            &:first-child{
              color: #FF5533;
              background: #FFF4F2;
            }
            &:nth-child(2){
              color: #33AAFF;
              background: #EBF7FF;
            }
            &:last-child{
              color: #979797;
              background: #F7F8FA;
            }
          }
        }
      }
    }
    .reply{
      margin:20rpx 0;
      
      text{
        font-weight: bold;
        font-size: 28rpx;
        color: #666666;
      }
    }
  }
}