page {
  background: #F7F8FA;
}

.publish-wrap {
  .publish-header {
    width: 100%;
    height: 180rpx;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;

    .bar-right {
      display: flex;
      padding-left: 34rpx;
      align-items: center;

      .avatar-text {
        display: block;
        width: 80%;
        font-size: 36rpx;
        color: #FFFFFF;
        text-align: center;
      }
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 20rpx;
    padding-top: 0rpx;
    margin-top: 5vh;
  }

  .form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rpx;
    padding-bottom: 10rpx;
    border-bottom: 1rpx solid #D9D9D9;
  }

  .phone-input,
  .code-input {
    border: none;
    padding: 10rpx;
    flex: 1;
    margin-right: 10rpx;
  }

  .get-code-button {
    color: #FF5040;

    &::after {
      border: none;
    }
  }

  .submit-button {
    background: linear-gradient(90deg, #FF6426 0%, #FF4A26 100%);
    border-radius: 12rpx 12rpx 12rpx 12rpx;
    color: #fff;
    width: 100%;
    margin-top: 20rpx;
  }
}