.pop-box {
  background-color: #F7F8FA;
  border-radius: 32rpx 32rpx 0rpx 0rpx;
  overflow: hidden;
  height: 85vh;

  .title {
    background-color: #fff;
    font-weight: bold;
    font-size: 30rpx;
    color: #221F1C;
    height: 110rpx;
    line-height: 110rpx;
    text-align: center;
    position: relative;
    margin-bottom: 20rpx;

    .close {
      width: 48rpx;
      height: 48rpx;
      position: absolute;
      right: 30rpx;
      top: 25rpx;
    }
  }
}

.goods-category-class {
  background-color: #f6f6f6 !important;
  height: 40vh;
}

.total {
  background-color: #fff;
  margin-top: 20rpx;
  position: relative;
  z-index: 2;
  padding: 40rpx;
  box-sizing: border-box;

  .total-title {
    font-weight: bold;
    font-size: 32rpx;
    color: #221F1C;
    margin-bottom: 32rpx;
  }

  .total-box {
    display: flex;
    justify-content: space-between;

    .totle-item {
      width: 320rpx;
      height: 72rpx;
      border-radius: 8rpx 8rpx 8rpx 8rpx;
      border: 1rpx solid #E6E6E6;
      line-height: 72rpx;
      display: flex;
      justify-content: space-between;
      padding: 0 20rpx;
      box-sizing: border-box;
      font-size: 28rpx;

      .label {
        color: #666666;
      }

      .num {
        font-weight: bold;
        color: #221F1C;
      }
    }
  }

  .totle-long {
    width: 672rpx;
    height: 72rpx;
    background: #FFF4F2;
    border-radius: 8rpx 8rpx 8rpx 8rpx;
    display: flex;
    margin-top: 32rpx;
    justify-content: space-between;
    line-height: 72rpx;
    padding: 0 20rpx;
    box-sizing: border-box;
    color: #F22800;

    .num {
      font-weight: bold;
    }
  }



  .margin-right-25 {
    margin-right: 20rpx;
  }
}

.btn-box {
  margin-top: 1rpx;
  background: #fff;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  height: 188rpx;
  padding-bottom: 48rpx;
  box-sizing: border-box;
  padding-left: 32rpx;
  padding-right: 32rpx;
  padding-top: 10rpx;
  justify-content: space-between;

  .left {
    width: 220rpx;
    height: 92rpx;
    border-radius: 12rpx;
    background: #F2F3F5;
    color: #999999;
    line-height: 92rpx;
    text-align: center;
  }

  .right {
    width: 440rpx;
    height: 92rpx;
    border-radius: 12rpx;
    background: linear-gradient(to right, #FF6426, #FF4A26);
    color: #fff;
    line-height: 92rpx;
    text-align: center;
  }
}