page {
  background: #F7F8FA;
}

.publish-wrap {
  .publish-header {
    background:#FFFFFF;
    background-size: cover;
    height: 180rpx;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 10;
    .bar-right {
      display: flex;
      padding-left: 34rpx;
      align-items: center;
      .avatar-text{
        display: block;
        width: 80%;
        font-size: 36rpx;
        color: #000000;
        text-align: center;
      }
    }
  }
}
.art-title{
  margin-top:30rpx;
  border-bottom:1rpx solid #E6E6E6;
}
.art-img{
  background-color: #FFFFFF;
  padding:30rpx;
  border-bottom:1rpx solid #E6E6E6;
  text{
    font-weight: 600;
    font-size: 30rpx;
    color: #333333;
  }
}
.art-type{
  background-color: #FFFFFF;
  padding:30rpx 0;
}
.editor-container{
  background:#FFFFFF;
  position: relative;
  border-bottom:1rpx solid #E6E6E6;
  .editor {
    height:40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    touch-action: auto;
    margin-top:100rpx;
    padding:20rpx;
    background: #faf9f9;
    #editor{
      height:40vh;
    }
  }
  
  .toolbar {
    position: absolute;
    top: -100rpx;
    width: 100%;
    height: 100rpx;
    padding: 0 20rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2rpx solid #ECECEC;
    background: #fff;
    z-index: 1;
  }
  
  .toolbar view {
    font-size: 24rpx;
  }
  
  .active {
    font-weight: 600;
    color: cadetblue;
  }
}

.formBtn{
  width:700rpx;
  background: #FFFFFF;
  padding:30rpx 25rpx;
  display: flex;
  z-index: 115;
}
