page {
  background: #F7F8FA;
}

.publish-wrap {
  .publish-header {
    width: 100%;
    height: 180rpx;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    .bar-right {
      display: flex;
      padding-left: 34rpx;
      align-items: center;
      .avatar-text{
        display: block;
        width: 80%;
        font-size: 36rpx;
        color: #FFFFFF;
        text-align: center;
      }
    }
  }

}
.home-page-container {
  background: #f5f5f5;
  display: block;
  padding: 0 0 30rpx 0;
  overflow: hidden;
  .tj{
    margin:40rpx 30rpx 20rpx 30rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mount{
      font-size: 30rpx;
      color: #666666;
      text{
        color: #F22800;
      }
    }
    .gl{
      font-weight: bold;
      font-size: 30rpx;
      color: #221F1C;
    }
  }
}
.tab-box {
  --td-tab-nav-bg-color: #ffffff;
  --td-tab-item-color: #A8A8A8;
  --td-tab-track-color: #FF5533;
  --td-tab-track-width: 60rpx;

  .tabs-external__active {
    color: #333333;
  }
}
.artlist{
  background: #FFFFFF;
  padding:20rpx 20rpx;
  border-radius: 24rpx;
  margin-bottom: 30rpx;
  .goodsInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10rpx 0;
    border-bottom: 1rpx solid #E6E6E6;
    image{
      width:140rpx;
      height:140rpx;
    }
    .info{
      width:500rpx;
      >text{
        font-weight: bold;
        font-size: 30rpx;
        color: #221F1C;
      }
      .type{
        margin-top:20rpx;
        text{
          font-size: 28rpx;
          color: #FF5533;
          background: #FFF4F2;
          padding:10rpx 20rpx;
          border-radius: 10rpx;
        }
      }
      .price{
        font-weight: 600;
        font-size: 26rpx;
        color: #221F1C;
      }
    }
  }
  .cz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:30rpx;
    text{
      font-size: 24rpx;
      color: #999999;
    }
    .btn{
      font-size: 24rpx;
      span{
        padding:15rpx 20rpx;
        border-radius: 32rpx;
        margin:0 5rpx;
      }
      span:nth-child(1){
        background: #F4F5F7;
        color: #666666;
      }
      span:nth-child(2){
        background: #FFF4F2;
        color: #FF5533;
      }
      span:nth-child(3){
        background: #f7eae7;
        color: #eb0808;
      }
    }
  }
}
.dtlist{
  background: #FFFFFF;
  padding:20rpx 20rpx;
  border-radius: 24rpx;
  margin-bottom: 30rpx;
  display: flex;
  align-items: top;
  gap:15rpx;
  .date{
    width:100rpx;
    font-weight: bold;
    font-size: 26rpx;
    color: #221F1C;
    margin-top:20rpx;
    view:nth-child(2){
      font-weight: bold;
      font-size: 28rpx;
      color: #666666;
    }
  }
  .dt{
    width:620rpx;
    .tit{
      font-size: 30rpx;
      color: #221F1C;
      line-height: 44rpx;
      margin:20rpx 0;
    }
    .imgs{
      image{
        width:140rpx;
        height:140rpx;
        margin:10rpx;
        border-radius: 10rpx;
      }
    }
    .cz{
      margin:20rpx 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      view{
        display: flex;
        align-items: center;
        gap:10rpx;
      }
      .btn{
        font-size: 26rpx;
        span{
          padding:20rpx 30rpx;
          border-radius: 32rpx;
          margin:0 10rpx;
        }
        span:nth-child(1){
          background: #F4F5F7;
          color: #666666;
        }
        span:nth-child(2){
          background: #FFF4F2;
          color: #FF5533;
        }
      }
    }
  }
}
.fish-list {
  padding: 24rpx;
  box-sizing: border-box;
  
}
