page {
  background: #F7F8FA;
}

.publish-wrap {
  .publish-header {
    width: 100%;
    height: 360rpx;
    position: relative;

    .bar-right {
      display: flex;
      align-items: center;
      padding-left: 34rpx;
    }

    .title {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 22rpx;
      text-align: center;

      .text {
        display: inline-block;
        position: relative;
        font-weight: bold;
        font-size: 40rpx;
        color: #221F1C;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 20rpx;
          background: #FFD4CC;
          position: absolute;
          bottom: 0;
          z-index: -1;
        }
      }
    }
  }

  .publish-content {
    margin-top: 136rpx;
    padding: 0 32rpx;

    .cell-class {
      border-radius: 24rpx 24rpx 24rpx 24rpx;
      margin-bottom: 32rpx;
    }

    .cell-description {
      font-size: 24rpx;
      color: #999999;
    }

    .cell-image {
      border-radius: 50%;
      width: 96rpx !important;
      height: 96rpx !important;
    }
  }
}