.message-list-wrap {
  background: #FFFFFF;
  box-sizing: border-box;
  padding-top: 20rpx;

  .tit {
    padding: 15rpx 30rpx;
    font-size: 34rpx;
    font-weight: 600;
  }

  .cell-class {
    position: relative;
    padding: 15rpx 20rpx;
  }

  .cell-class-description {
    font-size: 26rpx;
    color: #A8A8A8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    flex: 1;
    padding-right: 20rpx;
    max-width: 500rpx;
  }

  .cell-image {
    border-radius: 50%;
  }

  .cell-note {
    position: absolute;
    right: 32rpx;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    .time {
      font-size: 24rpx;
      color: #999999;
      margin-bottom: 20rpx;
      margin-top: 22rpx;
    }

    .wrapper1 {}
  }

  .border {
    background: #FFFFFF;
    height: 20rpx;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 686rpx;
      height: 1rpx;
      background-color: #E6E6E6;
      position: absolute;
      left: 32rpx;
      top: 10rpx;
    }
  }
}