page {
  box-sizing: border-box;
  padding-bottom: calc(env(safe-area-inset-bottom) + 96rpx);
  background-color: #F7F8FA;
}


.news-page-header {
  width:100%;
  overflow-x: hidden;
  box-sizing: border-box;
  .bg {
    box-sizing: border-box;
    height: 280rpx;
    width: 100%;
    padding: 0 24rpx;
  }

  .baibg {
    background-color: #ffffff;
  }

  .news-tab {
    width: 500px;
    padding-left: 10rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    >view {
      color: #FFC6A6;
      font-size: 32rpx;
      margin-right: 56rpx;
    }

    .active {
      color: #ffffff;
      font-size: 40rpx;
    }
  }
  .search {
    margin-top: 25rpx;
    position: relative;

    .btn {
      width: 108rpx;
      height: 56rpx;
      background: linear-gradient(90deg, #FF7426 0%, #FF350D 100%);
      border-radius: 40rpx 40rpx 40rpx 40rpx;
      font-size: 24rpx;
      line-height: 56rpx;
      text-align: center;
      color: #ffffff;
      position: absolute;
      right: 5rpx;
      bottom: 5rpx;
      z-index:9999;
    }

    .t-search__input-container {
      border-radius: 32rpx !important;
      height: 64rpx !important;
      position: relative;
    }

    .t-search__input {
      font-size: 28rpx !important;
      color: #747474 !important;
    }
  }
}

.tab-box {
  --td-tab-nav-bg-color: #fff;
  --td-tab-item-color: #A8A8A8;
  --td-tab-track-color: #FF5533;
  --td-tab-track-width: 60rpx;
  // box-sizing: border-box;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .tabs-external__active {
    color: #333;
  }
}

.news-list {
  box-sizing: border-box;
}