.collection-list-wrap {
  margin-top: 16rpx;

  .collection-item {

    background: #FFFFFF;
    border-radius: 16rpx 16rpx 16rpx 16rpx;
    margin-bottom: 20rpx;
    padding: 0 28rpx;
    box-sizing: border-box;
    position: relative;

    .action {
      position: absolute;
      right: 20rpx;
      bottom: 30rpx
    }

    .item-box {
      padding: 28rpx 0;
      display: flex;

      .left {
        width: 176rpx;
        height: 176rpx;
        border-radius: 12rpx 12rpx 12rpx 12rpx;
        margin-right: 28rpx;
      }

      .right {
        width: 398rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-weight: bold;
          font-size: 30rpx;
          color: #221F1C;
        }

        .time {
          font-size: 28rpx;
          color: #F22800;
          line-height: 24rpx;
          margin: 20rpx 0;
          display: flex;
          justify-content: start;
          align-items: center;

          .external-count {
            color: #F22800;
            font-size: 30rpx;
            line-height: 48rpx;
          }
        }

        .tags {
          display: flex;
          margin: 10rpx 0;

          >view {
            height: 32rpx;
            line-height: 32rpx;
            background: #F7F8FA;
            border-radius: 4rpx 4rpx 4rpx 4rpx;
            font-size: 22rpx;
            padding: 0 10rpx;
            margin-right: 10rpx;
          }

          .color1 {
            background: #fc0101;
            color: #FFFFFF;
          }

          .color2 {
            background: #00CC81;
            color: #FFFFFF;
          }

          .color3 {
            background: #F7F8FA;
            color: #979797;
          }

          .color4 {
            background: #EBF7FF;
            color: #33AAFF;
          }
        }

        .bottom {
          font-size: 24rpx;
          color: #000000;

          .dw {
            color: #221F1C;
            font-size: 24rpx;
          }

          .num {
            color: #221F1C;
            font-size: 32rpx;
          }
        }
      }
    }
  }
}