page{
  background: #F7F8FA;
  .offer{
      background: #FFFFFF;
      margin:20rpx 0;
    .items{
      padding:30rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1rpx solid #E6E6E6;
      .user{
        width:50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:15rpx;
        >view>view:first-child{
          font-weight: bold;
          font-size: 28rpx;
          color: #221F1C;
        }
        >view>view:last-child{
          font-size: 24rpx;
          color: #B3B3B3;
        }
        image{
          width: 84rpx;
          height: 84rpx;
          border-radius: 50%;
        }
      }
      .price{
        text-align: right;
        width:40%;
        .price1{
          font-size: 28rpx;
          color: #F22800;
        }
        image{
          width: 25rpx;
          height: 15rpx;
        }
      }
    }
  }
  .detail-quote {
    padding: 32rpx;
    box-sizing: border-box;
    height:80vh;
    overflow-y: auto;
    .toptitle{
      font-weight: bold;
      font-size: 32rpx;
      color: #221F1C;
      margin-bottom: 50rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      image{
        width:50rpx;
        height:50rpx;
      }
    }
    .title {
      font-weight: bold;
      font-size: 32rpx;
      color: #221F1C;
      margin-bottom: 30rpx;
    }
  
    .detail-quote-box {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20rpx;
      border-bottom: 1rpx solid #E6E6E6;
      margin-bottom: 40rpx;
  
      >view {
        width: 336rpx;
        height: 72rpx;
        background: #F7F8FA;
        border-radius: 8rpx 8rpx 8rpx 8rpx;
        font-size: 28rpx;
        color: #999999;
        line-height: 72rpx;
        display: flex;
        justify-content: space-between;
        padding: 0 20rpx;
        box-sizing: border-box;
        margin-bottom: 20rpx;
  
        .black {
          color: #221F1C;
        }
  
        .red {
          color: #F22800;
        }
      }
  
      .redb {
        width: 686rpx;
        height: 72rpx;
        background: #FFF4F2;
        color: #F22800;
      }
  
      .margin-right-14 {
        margin-right: 14rpx;
      }
    }
  
    .detail-quote-box:last-child {
      border-bottom: none;
    }
  }
}